:root {
    --bg-color: rgb(27, 27, 25);
    --editor-theme-bg: rgb(39,40,34); /*monokai*/

    --tree-node-fg-color: rgb(201, 201, 201);
    --tree-node-bg-selected: rgb(49, 49, 49);
    --tree-node-bg-unsaved: rgb(240, 192, 130);

    --context-menu-bg: rgb(61, 61, 61);
    /* --context-menu-bg: var(--editor-theme-bg); */
    --context-menu-fg: rgb(255, 255, 255);
    --context-menu-bg-highlight: rgb(35, 56, 77);

    --light-border-color: rgb(65, 65, 62);
    --lighter-border-color: rgb(131, 131, 131);

    --button-hover-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    font-size: 16px;
}

html, body {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: var(--bg-color);
    font-size: 0.75rem;
    font-weight: 400;
    font-family: sans-serif;
}


.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.editor-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--editor-theme-bg);
}


.output-container {
    flex:1;
    background-color: var(--bg-color);
    color: var(--tree-node-fg-color);
    position: relative;
    overflow: hidden;
    padding: 0.5rem;
}

@media (orientation: portrait) {
    .output-container {
        flex: 2;
    }
}

.output-container > #output {
    width: 100%;
    height: 100%;
    overflow: auto;
    white-space: pre;
}


.editor {
    flex: 4;
    /* border-radius: 6px; */
    font-family: 'Source Code Pro', monospace;
    max-height: 100vh;
    letter-spacing: normal;
    line-height: 20px;
    tab-size: 4;
    margin: 0px;
    /* padding-top: 20px; */
    overflow: hidden;
}


/* lib modal alert modifier */
.theme-modal-container {
    background-color: var(--editor-theme-bg) !important;
    color: var(--tree-node-fg-color) !important;
}

.theme-modal-container .close-btn {
    background-color: transparent !important;
    color: var(--tree-node-fg-color) !important;
    transition: 0.1s ease-in
}

.theme-modal-container button,
.gen-btn {
    background-color: transparent !important;
    color: var(--tree-node-fg-color) !important;
    border: 1px solid var(--light-border-color) !important;
    border-radius: 0.4rem;
    padding: 0.7rem 1rem;
    outline: none;
    user-select: none;
    cursor: pointer;
    transition: 0.1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-modal-container button:disabled,
.gen-btn:disabled {
    cursor: not-allowed;
}

.theme-modal-container button:focus,
.gen-btn:focus {
    background-color: var(--tree-node-bg-selected) !important;
    /* border: 1px solid grey; */
}

.theme-modal-container button:hover:not(:disabled),
.gen-btn:hover:not(:disabled),
.theme-modal-container .close-btn:hover {
    background-color: var(--tree-node-bg-selected) !important;
    box-shadow: var(--button-hover-shadow) !important;
    border-color: transparent !important;
}
