:root {
    --bg-color: rgb(27, 27, 25);
    --tree-node-fg-color: rgb(184, 179, 179);
    --tree-node-bg-selected: rgb(49, 49, 49);

    --context-menu-bg: rgb(61, 61, 61);
	--context-menu-fg: rgb(255, 255, 255);
	--context-menu-bg-highlight: rgb(35, 72, 78);
}

html, body {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: var(--bg-color);
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
}


.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.editor-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.output-container {
    flex:1;
    color: var(--tree-node-fg-color);
    color: var(--tree-node-fg-color);
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.output-container > #output {
    width: 100%;
    height: 100%;
    overflow: scroll;
}


.editor {
    flex: 4;
    /* border-radius: 6px; */
    font-family: 'Source Code Pro', monospace;
    max-height: 100vh;
    letter-spacing: normal;
    line-height: 20px;
    tab-size: 4;
    margin: 0px;
    padding-top: 20px;
    /* overflow: hidden; */
}

.editor {
    overflow: scroll;
}


.file-tree-container {
    min-width: 20vw;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--tree-node-fg-color);
    padding: 5px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
}


.file-tree-container svg {
    fill: var(--tree-node-fg-color);
    width: 15px;
}

.file-tree-element {
    height: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.file-tree-element:hover {
    cursor: pointer;
    background-color: var(--context-menu-bg-highlight);
}

.file-tree-element.selected {
    background-color: var(--tree-node-bg-selected);
}


