.context-menu {
	min-width:20ch;
	color: var(--context-menu-fg);
	background-color: var(--context-menu-bg);
	border: 1px solid rgba(0,0,0,.15);
	border-radius:4px;
	position: fixed;
	z-index: 1000;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
	overflow: hidden;
	padding: .2rem 0;
	outline: none;
}

.context-menu:focus {
	outline-width: 0;
}

.context-option {
	width: 100%;
	height: 2rem;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	display: flex;
	align-items: center;
}

.context-option:hover {
	background-color: var(--context-menu-bg-highlight);
	cursor: pointer;
}

/* bootstrap override */
.dropdown-item {
	cursor: pointer;
}
