body {
    display: flex;
    justify-content: center;
}

.profile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100ch;
    width: 55vw;
    color: var(--tree-node-fg-color);
    /* border: 1px solid var(--tree-node-fg-color); */
}

@media (orientation: portrait) {
    .profile-container {
        min-width: 90vw;
    }
}

#profile-picture {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    margin: 1.25rem;
}

#profile-projects-container {
    position: relative;
    width:100%;
    max-width: 100%;
    min-height: 6rem;
    padding: 0.5rem;
}

#profile-projects {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}





/* project list button */
#profile-projects .project {
    min-height: 3rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profile-projects .project:hover {
    background-color: var(--editor-theme-bg) !important;
}

#profile-projects .project > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#profile-projects .project > div:first-child {
    flex: 2;
}

#profile-projects .project > div:last-child {
    flex: 1;
    border-left: 1px solid var(--light-border-color);
}
/* end project list button */



.top-right-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none !important;
}

#new-project-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 75%;
}

#new-project-modal input,
#new-project-modal textarea,
#new-project-modal button {
    width: 100%;
    padding: .5rem;
    margin: .5rem;
    background-color: var(--bg-color);
    color: white;
    border: 1px solid black;
    resize: none;
}

#new-project-modal button {
    margin-top: 1rem;
    border: 1px solid var(--light-border-color);
}
