#project-menu-btn {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.2rem;
    padding: 0.2rem 1.2rem;
}


#project-props-modal {
    overflow: scroll;
    min-height: 100%;
    width: 100%;
    /* margin: 20px 1px 10px 20px; */
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    background-color: var(--bg-color);
    overflow-y: hidden;
    overflow-x: auto;
}

#project-props-modal .tab-bar {
    display: flex;
}

#project-props-modal .tab-bar > .tab-bar-btn {
    padding: 0.7rem;
    padding-inline: 2rem;
    border-radius: .25rem .25rem 0 0;
    cursor: pointer;
    user-select: none;
}


#project-props-modal .tab-bar > .tab-bar-btn.selected {
	background-color: var(--editor-theme-bg);
    /* background-color: var(--editor-theme-bg); */
}

#project-props-modal .tab {
    display: none;
    /* background-color: var(--editor-theme-bg); */
	background-color: var(--editor-theme-bg);
    flex-grow: 1;
    padding: 0.5rem;
    position: relative;
}

#project-props-modal .tab .new-entry-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    aspect-ratio: 1;
    border-radius: 100%;
    bottom: 1.5rem;
    right: 1rem;
    font-size: 1.5rem;
}



#project-props-modal .tab.selected {
    display: block;
}




#project-props-modal .props-row,
#project-props-modal .props-header {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 1rem;
}

#project-props-modal .schedule-row,
#project-props-modal .schedule-header {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

#project-props-modal .props-row > * {
    border: 1px solid var(--light-border-color);
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
}

#project-props-modal .props-header > * {
    margin: 0;
    padding: 0.3rem;
}


.new-property-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 80%;
    width: 75%;
}

.new-property-modal > input,
.new-property-modal > select {
    background-color: var(--bg-color);
    border: 1px solid black;
    color: white;
    width: 100%;
}

.new-property-modal > * {
    width: 100%;
    padding: 5px;
}
